.error-page{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: var(--green--);
}
.error-page a{
    background-color: var(--green--);
    color: var(--white--);
    padding: 15px;
    margin: 40px 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.error-page a:hover{
    background-color: var(--light-green--);
}
.error-page a:active{
    background-color: var(--gray--);
}